<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <form class="form" action="/file" enctype="multipart/form-data" method="post">
        <div class="file-upload-wrapper" data-text="Select your file!">
          <input
            name="file"
            id="file"
            type="file"
            class="file-upload-field"/>

            <button class="file-upload-field">Submit</button>
        </div>
      </form>
    </div>

    <!-- <script>
      $("form").on("change", ".file-upload-field", function () {
        $(this)
          .parent(".file-upload-wrapper")
          .attr(
            "data-text",
            $(this)
              .val()
              .replace(/.*(\/|\\)/, "")
          );
      });
    </script> -->
  </body>
</html>
